:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: #ededed;
  --header-height: 60px;
  --drawer-width: clamp(200px, 250px, 300px);
  --hover-color: #c2c2c270;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border-color: #4141418f;
    --hover-color: #41414170;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  *{
    color-scheme: dark;
    color: var(--foreground);
  }
}
.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1.1rem 0 0.6rem;
  border-bottom: 1px solid var(--border-color);
}
.bold-text{
  font-weight: 700;
}
.brand-box{
  border: 1px solid (--border-color);
  height: var(--header-height);
  display: flex;
  align-items: center;
}
.only-mobile{
  display: none;
}
.brand{
  font-weight: 700;
  font-size: 1.4rem;
  position: relative;
}
.brand::before{
  content: 'Health';
  position: absolute;
  color: rgb(202, 189, 9);
}
.header-nav{
  display: flex;
  height: 100%;
  align-items: center;
}

.main-content{
  padding-top: calc(5px + var(--header-height));
  padding-left: 1rem;
  padding-right: 10px;
}
  
.btn{
  width: 36px;
  height: 36px;
  margin: 5px;
  padding: 3px;
  background: none;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.btn:hover{
  background-color: var(--hover-color);
}
/* 
svg{
} 
*/

/* Footer */
footer{
  padding: 10px;
}

/* Screen preferences*/
@media (min-width: 761px) {
  .left-side-drawer{
    display: block;
    transform: translateX(0); 
  }
  .header{ padding-left: calc(12px + var(--drawer-width)); }
  .backdrop { display: none; }
  .main-content{
    padding-left: calc(12px + var(--drawer-width));
  }
  footer{
    padding-left: calc(12px + var(--drawer-width));
  }
}
@media (max-width: 760px){
  .only-mobile{
    display: flex;
  }
  body[data-drawer="close"] .left-side-drawer {
    transform: translateX(-100%); 
  }
  
}
